<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JPM PDF Extraction Portal 2</title>
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>

<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/eylogo.png')}}" width="25" height="25" class="d-inline-block align-top" alt="">
             Audio Analysis
        </a>
    </nav>

</header>
<body class="body">
    <div class="container" align="center" style="padding-top: 50px">
        <a href="/file/" target="blank"><button class="btn btn-primary">Download Balance</button></a>
    </div>


</body>
</html>

