<!DOCTYPE html>
<html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Analysis</title>
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/eylogo.png') }}" width="25" height="25"
                 class="d-inline-block align-top" alt="">
            Audio Analysis Platform for {{ person }}

        </a>
    </nav>

</header>
<body>
  </br>
  </br>

<div align="center">
    <form method=post enctype=multipart/form-data style="margin-top: 50px">
        <div>
            <input type=file name=file multiple class="btn btn-outline-secondary">
        </div>
        <div style="padding-top: 20px">
        <div style="padding-top: 20px">
            <input type=submit value="CSV Output" class="btn btn-primary">
        </div>
    </form>
    <h3>How it Works</h3>
      <small>We will do sentiment analysis to get the emotion behind each sentence in your script. Then, we analyze the sentences in your audio recording to see if your voice emotions match.
      We score you in two ways: percentage of sentences for which your voice emotion matches the text emotion, and also a proprietary score that measures how close your emotions were
    to the text's emotions. This proprietary score is out of 10,000 with 10,000 being perfectly matching. Good luck practicing! </small>
</div>
</div>
</body>
</html>
</html>
